%h1 Articles listing page
%table 
  %thead 
    %tr 
      %th Title
      %th Description
      %th Actions
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.description
        %td
          %a(href="/articles/#{article.id}") Show
          %a(href="/articles/#{article.id}/edit") Edit

