%h1.text-center.mt-4 All articles
.container.all-articles.mt-3
  .row.align-items-lg-center.justify-content-center
    - @articles.each do |article|
      .col-lg-6.d-flex.align-self-stretch
        = render 'article', article: article
