%main 
  .bd-masthead
    .container.px-4.px-md-3
      .row.align-items-lg-center
        .col-lg-5.mx-auto.order-lg-2.mb-4.mb-lg-0
          = show_svg('content_manager.svg')
        .col-lg-7.order-lg-1.text-center.text-md-start
          %h1.mb-3 Welcome to the infamous Alpha-Blog 😉
          %p.lead.mb-4
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
            erat, sed diam voluptua. At vero eos et accusam et justo duo 
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
            sanctus est Lorem ipsum dolor sit amet.
          .d-flex.flex-column.flex-md-row
          %button.btn.btn-primary.btn-lg{ type: 'button' } Let's do it!
  .newest_articles
    .container.px-4.px-md-3
      %h3.text-center Check out the freshest new articles...
      .row.align-items-lg-center.justify-content-center.mt-3
        .col-lg-3.col-md-6.d-flex.align-self-stretch
          .card
            %a.stretched-link{:href => "#"}
            .card-header 
              %strong Leon Löffel
              %br
              %small.text-muted Mittwoch, 12.01.2022
            .card-body
              %h5.card-title Boy last seen online on WhatsApp three hours ago: 
              17-year-old reported missing
              %p.card-text Huge worries about Niklas T.! The 17-year-old from 
              the vicinity of Munich has been reported missing [...]
        .col-lg-3.col-md-6.d-flex.align-self-stretch
          .card
            %a.stretched-link{:href => "#"}
            .card-header 
              %strong Gertrud Gabel
              %br
              %small.text-muted Montag, 10.01.2022
            .card-body
              %h5.card-title Study: shoplifting far cheaper than paying for goods
              %p.card-text Who says crime doesn’t pay? Experts at the University at the international market research company [...]
        .col-lg-3.col-md-6.d-flex.align-self-stretch
          .card
            %a.stretched-link{:href => "#"}
            .card-header 
              %strong Martin Messer
              %br
              %small.text-muted Sonntag, 09.01.2022
            .card-body
              %h5.card-title Microsoft introduces five bins to sort files for recycling
              %p.card-text Windows is finally going green: there is now an update available for Microsoft’s Windows 10 which will introduce waste separation to [...]
        .col-lg-3.col-md-6.d-flex.align-self-stretch
          .card
            %a.stretched-link{:href => "#"}
            .card-header 
              %strong Günther Göffel
              %br
              %small.text-muted Donnerstag, 06.01.2022
            .card-body
              %h5.card-title Italian plumber arrested for animal cruelty after jumping on turtles
              %p.card-text This weekend, a terrible case of animal cruelty took place at Naples Zoo. According to police records, a middle-aged man gained [...]

