.bd-masthead
  .container.px-4.px-md-3
    .row.align-items-lg-center
      .col-lg-5.mx-auto.order-lg-2.mb-4.mb-lg-0
        = show_svg('content_manager.svg')
      .col-lg-7.order-lg-1.text-center.text-md-start
        %h1.mb-3 Welcome to the infamous Alpha-Blog 😉
        %p.lead.mb-4
          The Alpha-Blog is the best place to read about new things 
          and share your thoughts, ideas, projects or whatever you like 
          with the world. Start browsing articles right away or sign up 
          below to create your own.
        .d-flex.flex-column.flex-md-row
        = link_to 'Sign up!', signup_path, class: 'btn btn-primary btn-lg'
.newest_articles
  .container.px-4.px-md-3
    %h3.text-center Check out the freshest new articles...
    .row.align-items-lg-center.justify-content-center.mt-3
      - @articles.each do |article|
        .col-lg-6.d-flex.align-self-stretch
          = render 'articles/article', article: article
