$light-blue: #ecf0ff;
$primary-blue: #0B5ED7;

@import 'bootstrap/dist/css/bootstrap';

body {
  padding-top: 50px; // Size of the navbar
  height: 100%;
}

.main {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.bd-navbar {
    padding: .75rem 0;
    background-color: $primary-blue;
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    color:rgba(255, 255, 255, 0.85)
}

.bd-navbar .navbar-nav .nav-link:hover {
    color:rgba(255, 255, 255, 1)
}

.navbar .btn {
   white-space: nowrap;
}


.bd-masthead {
  padding: 3rem 0;
  background:linear-gradient(165deg, $light-blue 50%, #fff 50%);
}

.bd-masthead h1 {
  font-size: calc(1.525rem + 3.3vw);
  line-height:1
}

@media (min-width: 1200px) {
  .bd-masthead h1 {
      font-size:4rem
  }
}

@media (min-width: 768px) {
  .w-md-75 {
    width:75%;
  }
}

svg { 
  width: 100%; 
  height: 100%;
}

.bd-masthead p:not(.lead) {
  color:#495057
}

.bd-masthead .btn {
  padding: .8rem 2rem;
  font-weight:600
}

.bd-masthead .lead {
  font-size: calc(1.275rem + .3vw);
  font-weight: 400;
  color:#495057
}

@media (min-width: 1200px) {
  .bd-masthead .lead {
      font-size:1.5rem
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.newest_articles .card {
  margin-bottom: 1.5rem;
}

.card-header, .card-footer {
  background-color: $light-blue;
}

.card-header {
  font-style: italic;
}

.all-articles .card {
  width: 100%;
}

.clickable.card:hover{
  transform: scale(1.01);
  box-shadow: 0 5px 10px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.navbar #logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.card .overlap-streched-link {
  position: relative;
  z-index: 1;
}

.bg-light-blue {
  background-color: $light-blue;
}
