@import 'bootstrap/dist/css/bootstrap';

.bd-navbar {
    padding: .75rem 0;
    background-color:#0B5ED7;
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .25rem;
    padding-left: .25rem;
    color:rgba(255, 255, 255, 0.85)
}

.bd-navbar .navbar-nav .nav-link:hover {
    color:rgba(255, 255, 255, 1)
}

.bd-masthead {
  padding: 3rem 0;
  background:linear-gradient(165deg, #ecf0ff 50%, #fff 50%);
  height: 85vh;
}

.bd-masthead h1 {
  font-size: calc(1.525rem + 3.3vw);
  line-height:1
}

@media (min-width: 1200px) {
  .bd-masthead h1 {
      font-size:4rem
  }
}

.bd-masthead p:not(.lead) {
  color:#495057
}

.bd-masthead .btn {
  padding: .8rem 2rem;
  font-weight:600
}

.bd-masthead .lead {
  font-size: calc(1.275rem + .3vw);
  font-weight: 400;
  color:#495057
}

@media (min-width: 1200px) {
  .bd-masthead .lead {
      font-size:1.5rem
  }
}

.bd-masthead .card-header {
  background-color: #ecf0ff;
}

.bd-masthead .card:hover{
  transform: scale(1.01);
  box-shadow: 0 5px 10px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

