.category-tags
  - if article.categories.any?
    - article.categories.each do |category|
      = link_to articles_path(categories: category.name), class: "overlap-streched-link" do
        .category-tag{style: "background-color: ##{category.tag_color}"}
          %p= category.name
  - else
    .category-tag.overlap-streched-link
      %p= "No category defined"